[Unit]
Description=Run PHP 2026-09-24 tracker update twice daily

[Timer]
OnCalendar=*-*-* 06,18:05:00
Persistent=true
RandomizedDelaySec=2m

[Install]
WantedBy=timers.target
